*{
 margin: 0;
 padding: 0;
}
/* body{
  margin-right: 20px;
  margin-left: 20px;
} */
.nv{
 /* background-image: url(https://wallpapercave.com/wp/wp7603919.jpg); */
 background-image: url(https://i.pinimg.com/originals/93/f4/a9/93f4a9c583b3e0b77f4bea0d99768e5d.jpg);
 width: 100%;
 height: 800px;
}
.nv nav{
 display: flex;
 justify-content: space-around;
 font-size: 30px;
 color:pink
}
.nv nav .right{
 display: flex;
}
nav p{
 margin-inline: 30px;
 margin-top: 20px;
}
nav p:hover{
  text-decoration: underline;
}
.logo img{
 width: 30%;
 /* height: 400px; */
 height: auto;
 
}
.nv .logo{
 text-align: center;
}
.text{
 text-align: center;
 color: white;
 margin-top: 40px;
 font-size: 25px;
 text-shadow: 5px 5px 4px blue;
}
.input{
  width: 400px;
  height: auto;
  padding-left: 400px;
  text-align: center;
  margin-top: 80px;
}
.input > input{
  /* width: 400px; */
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 10px;
}
.input > input:hover{
  cursor: pointer;
  background-color: rgb(234, 90, 90);
  color: white;
}
.input > input:hover::placeholder{
 color: #fff;
}
.card{
 display: flex;
 flex-wrap: wrap;
 text-align: center;
 justify-content: space-around;
 gap: 10px;
}
.crd img{
 /* width: 400px; */
 /* height: 350px; */
 width: 100%;
 height: auto;
 border-radius: 6px;
 margin-top: 55px;
}
.crd p{
 font-size: 20px;
}
.coll .txt{
 margin-left: 34px;
 margin-top: 64px;
 padding: 33px;
}
.txt p{
 font-size: 20px;
}
.coll .rest{
 display: flex;
 flex-wrap: wrap;
 margin: 0px;
 background-color: rgb(211, 96, 115);
}
/* .rest img{
 width: 400px;
 height: 360px;
 width: 100%;
 height: auto;
 border-radius: 7px;
 padding-left: 50px;
 margin: 0px;
 margin-top: 40px;
 display: grid;
 grid-template-columns: (2, 1fr);
} */
.rest{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align the images */
}
#image {
  width: 100%;
  height: auto;
  padding-left: 40px;
}
#image>img{
  
  justify-content: space-between;
  /* padding-left:40px ; */
  width: 270px;
  padding: 10px;
  border-radius: 20px;
}
.app{
 display: flex;
 /* justify-content: center; */
 justify-content: space-around;
 background-color: rgb(233, 197, 203);
 margin-top: 60px;
}
.app img{
 width: 40%;
 height: auto;
}
.app h1{
 margin-top: 180px;
 /* margin-top: 100px; */
 font-size: 99px;
 /* font-size: 2vw; */
 text-shadow: 3px 3px 4px blue;
}
.btn h1{
 margin-left: 44px;
 margin-top: 44px;
 padding: 33px;
}
.btn button{
 width: 80%;
 height: 70px;
 background-color: white;
 border: 1px solid gray;
 border-radius: 5px;
 margin-top: 22px;
 margin-left: 110px;
 margin-right: auto;
 font-size: 3vw;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 text-shadow: 3px 3px 8px rgb(239, 131, 239);
 /* margin-left: auto; */
}
.btn > button:hover{
  cursor: pointer;
  background-color: rgba(237, 108, 108, 0.603);
  /* font-size: 32px; */
  font-size: 3.2vw;
  letter-spacing: 3px;
}
.footer{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 background-color: rgb(223, 183, 190);
 margin-top: 48px;
 padding: 48px;
 font-family: sans-serif;
}
.list p{
 margin-top: 20px;
}

/* Mobile Phones */
@media screen and (max-width: 767px) {
  .nv {
    height: 500px;
  }

  .app h1 {
    font-size: 6vw;
  }

  .btn button {
    font-size: 5vw;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nv {
    height: 500px;
  }

  .app h1 {
    font-size: 3vw;
  }

  .btn button {
    font-size: 2.5vw;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .nv {
    height: 400px;
  }

  .app h1 {
    font-size: 2.5vw;
  }

  .btn button {
    font-size: 2vw;
  }
}